<div class="mainContainer contentGrid">
	<div class="iconsContainer">
		<a [routerLink]="'new'">
			<span>הוסף</span>
			<mat-icon aria-hidden="false"
								aria-label="Add">add_circle_outline</mat-icon>
		</a>
		<a (click)="getData()">
			<span>רענן</span>
			<mat-icon aria-hidden="false"
								aria-label="Refresh">autorenew</mat-icon>
		</a>
	</div>
	<div class="fieldsContainer">
		<mat-form-field appearance="outline"
										class="blackBackground">
			<mat-label>חיפוש מהיר</mat-label>
			<input matInput
						 [(ngModel)]="fastSearch"
						 (keyup)="applyFilters()"
						 spellcheck="false"
						 placeholder="חפש...">
			<mat-icon matSuffix>search</mat-icon>
		</mat-form-field>
	</div>
	<div class="hr"></div>
	<div class="tableContainer"
			 *ngIf="dataSource">
		<div class="mat-elevation-z8">
			<table mat-table
						 matSort
						 [dataSource]="dataSource">
				<ng-container matColumnDef="index">
					<th mat-header-cell
							*matHeaderCellDef>#</th>
					<td mat-cell
							*matCellDef="let i = index">{{i + 1}}</td>
				</ng-container>
				<ng-container matColumnDef="vehicleModelId">
					<th mat-header-cell
							mat-sort-header
							*matHeaderCellDef>קוד</th>
					<td mat-cell
							*matCellDef="let x">{{x.vehicleModelId}}</td>
				</ng-container>
				<ng-container matColumnDef="isActive">
					<th mat-header-cell
							mat-sort-header
							*matHeaderCellDef>פעיל</th>
					<td mat-cell
							class="greenText"
							*matCellDef="let x">{{x.isActive ? '&#10003;' : ''}}</td>
				</ng-container>
				<ng-container matColumnDef="name">
					<th mat-header-cell
							mat-sort-header
							*matHeaderCellDef>שם</th>
					<td mat-cell
							*matCellDef="let x">{{x.name}}</td>
				</ng-container>
				<ng-container matColumnDef="manufacturer.name">
					<th mat-header-cell
							mat-sort-header
							*matHeaderCellDef>יצרן</th>
					<td mat-cell
							*matCellDef="let x">{{x.manufacturer.name}}</td>
				</ng-container>
				<ng-container matColumnDef="vehicleType.name">
					<th mat-header-cell
							mat-sort-header
							*matHeaderCellDef>סוג רכב</th>
					<td mat-cell
							*matCellDef="let x">{{x.vehicleType.name}}</td>
				</ng-container>
				<ng-container matColumnDef="edit">
					<th mat-header-cell
							*matHeaderCellDef>ערוך</th>
					<td mat-cell
							*matCellDef="let x">
						<a *ngIf="x.isActive"
							 [routerLink]="x.vehicleModelId">
							<mat-icon aria-hidden="false"
												aria-label="Refresh">edit</mat-icon>
						</a>
					</td>
				</ng-container>
				<ng-container matColumnDef="toggleActive">
					<th mat-header-cell
							*matHeaderCellDef>מחק/ שחזר</th>
					<td mat-cell
							style="padding-right: 24px;"
							*matCellDef="let x">
						<a *ngIf="x.isActive; else recycleIcon"
							 (click)="deleteUser(x.vehicleModelId)">
							<mat-icon aria-hidden="false"
												aria-label="Refresh">delete</mat-icon>
						</a>
						<ng-template #recycleIcon>
							<a (click)="restoreUser(x.vehicleModelId)"
								 class="recycleIcon">&#9850;</a>
						</ng-template>
					</td>
				</ng-container>
				<tr mat-header-row
						class="tableRow"
						*matHeaderRowDef="columns"></tr>
				<tr mat-row
						class="tableRow"
						[ngClass]="{'fadedText': !row.isActive}"
						*matRowDef="let row; columns: columns;"></tr>
			</table>
			<div class="noTableContent"
					 *ngIf="dataSource.filteredData.length == 0">
				<div>
					<span>אין נתונים להצגה</span>
				</div>
			</div>
			<div class="tableFooter">
				<div class="checkBoxContainer">
					<mat-checkbox [checked]="true"
												(change)="applyFilters()"
												[(ngModel)]="showOnlyActive">הצג רק פעילים</mat-checkbox>
				</div>
				<mat-paginator [pageSize]="10"
											 [pageSizeOptions]="[10, 15, 20]"
											 showFirstLastButtons></mat-paginator>
			</div>
		</div>
	</div>
</div>
