<div class="popupContainer">
	<div class="closeDialog">
		<a (click)="closeDialog()">&#9747;</a>
	</div>
	<div class="imgContainer">
		<img *ngIf="car"
				 [src]="car.picturePath ? pictureUrlPrefix + car.picturePath : carAvatar.src"
				 [alt]="car.picturePath ? 'CarAvatar' : carAvatar.alt">
	</div>
	<div class="detailsContainer"
			 *ngIf="car && showDetails">
		<div class="row">
			<span><strong>יצרן</strong></span>
			<span>{{car.model.manufacturer.name}}</span>
		</div>
		<div class="row">
			<span><strong>דגם</strong></span>
			<span>{{car.model.name}}</span>
		</div>
		<div class="row">
			<span><strong>שנה</strong></span>
			<span>{{car.manufactureDate | date : 'yyyy'}}</span>
		</div>
		<div class="row">
			<span><strong>רמה</strong></span>
			<span>{{car.carClass.name}}</span>
		</div>
		<div class="row">
			<span><strong>סוג רכב</strong></span>
			<span>{{car.model.vehicleType.name}}</span>
		</div>
		<div class="row">
			<span><strong>סוג תיבה</strong></span>
			<span>{{car.gearType.name}}</span>
		</div>
		<div class="row">
			<span><strong>מיקום</strong></span>
			<span>
				<a class="bluishText"
					 (click)="showDetails = false">{{car.atBranch.name}}</a>
			</span>
		</div>
		<div class="row">
			<span><strong>מחיר ליום</strong></span>
			<span>{{car.carClass.dailyPrice}} &#8362;</span>
		</div>
		<div class="row">
			<span><strong>מחיר ליום איחור</strong></span>
			<span>{{car.carClass.delayDailyPrice}} &#8362;</span>
		</div>
	</div>
	<div *ngIf="!showDetails"
			 class="branchGrid">
		<span><strong>עיר</strong></span>
		<span>{{car.atBranch.address.city + " " + car.atBranch.address.state}}</span>
		<span><strong>רחוב</strong></span>
		<span>{{car.atBranch.address.street}}</span>
		<span><strong>מס' בית</strong></span>
		<span>{{car.atBranch.address.homeNumber}}</span>
		<span><strong>כניסה</strong></span>
		<span>{{car.atBranch.address.entrance}}</span>
		<span><strong>מיקוד</strong></span>
		<span>{{car.atBranch.address.zipCode}}</span>
		<div class="imgContainer markContainer">
			<a (click)="openLocation()">
				<img [src]="redLocationMark.src"
						 [alt]="redLocationMark.alt">
			</a>
		</div>
		<div class="arrow"
				 matTooltip="חזור">
			<a (click)="showDetails = true">&rsaquo;</a>
		</div>
	</div>
	<div class="buttonsContainer">
		<button mat-flat-button
						type="button"
						(click)="closeDialog()">סגור</button>
		<button mat-flat-button
						type="button"
						color="primary"
						(click)="closeDialog(); openOrder()">הזמן</button>
	</div>
</div>
