<div class="mainContainer contentGrid detailsContainer">
	<div class="iconsContainer">
		<a *ngIf="model?.gearTypeId"
			 (click)="getData()">
			<span>רענן</span>
			<mat-icon aria-hidden="false"
								aria-label="Refresh">autorenew</mat-icon>
		</a>
		<a (click)="gearTypeForm?.ngSubmit.emit()">
			<span>שמור</span>
			<mat-icon aria-hidden="false"
								aria-label="Refresh">save</mat-icon>
		</a>
	</div>
	<div class="fieldsDetailsContainer"
			 [ngStyle]="{'opacity': model ? '1' : '0'}">
		<form *ngIf="model"
					class="formContainer"
					#gearTypeForm="ngForm"
					(ngSubmit)="saveData()">
			<div class="fieldContainer">
				<mat-label>קוד</mat-label>
				<mat-form-field appearance="outline">
					<input matInput
								 [(ngModel)]="model.gearTypeId"
								 #gearTypeId="ngModel"
								 name="gearTypeId"
								 type="number"
								 spellcheck="false"
								 disabled
								 required>
				</mat-form-field>
			</div>
			<div class="fieldContainer">
				<mat-label>שם</mat-label>
				<mat-form-field appearance="outline">
					<input matInput
								 [(ngModel)]="model.name"
								 #name="ngModel"
								 name="name"
								 type="text"
								 spellcheck="false"
								 tabindex="1"
								 required>
					<mat-error *ngIf="!name.value">השדה אינו יכול להיות ריק</mat-error>
				</mat-form-field>
			</div>
		</form>
	</div>
	<div class="bottomButtonsContainer">
		<button mat-flat-button
						type="button"
						color="primary"
						(click)="router.navigateByUrl('employees/carsManagement/gearTypes')">חזור</button>
	</div>
</div>
