
$mySpecialRed: #bd282e;
$mat-red-warning: #f44336;

$mySpecialGreen: #64f434;

$mySpecialBlue: #2898bd;
$myLightBlue: #2196f3;
$myVeryLightBlue: #9ed1fa;

$myMainBlack: #000000;

$myOffWhite: #fbeaeb;

$matGrey: #424242;
