@import 'myColors';

h3 {
	text-align: center;
}

.popupContentContainer {
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-items: center;
	align-items: center;
}

.fileError {
	height: 20px;
	
	> small {
		display: inline-block;
		font-size: 75%;
		color: $mat-red-warning;
		animation:  customErrorAppear .3s .15s backwards;
	
		@keyframes customErrorAppear {
			from {
				opacity: 0;
				transform: translateY(-100%)
			}
		}
	}
}

crd-image-cropper {
	grid-column: 1 / 3;
}

button {
	width: 160px;
}
